# Pull Request Report

_{{ total_pulls }} pull requests have all 3 of the following labels: `auto-tests-passing`, `review-approved`, `testing-passes`_

<table>
  <tr>
    <th>Pull</th>
    <th>Base</th>
    <th>Head</th>
    <th>Author</th>
  </tr>
  {% for pull in data %}
  <tr>
    <td><a href="https://github.com/{{ pull.repository }}/pull/{{ pull.number }}" title="#{{ pull.number }} - {{ pull.title }}">#{{ pull.number }} - {{ pull.title | truncate: 24, '...' }}</a></td>
    <td><a href="https://github.com/{{ pull.repository }}/tree/{{ pull.base }}" title="{{ pull.base }}">{{ pull.base | truncate: 24, '...' }}</a></td>
    <td><a href="https://github.com/{{ pull.repository }}/tree/{{ pull.head }}" title="{{ pull.head }}">{{ pull.head | truncate: 24, '...' }}</a></td>
    <td><a href="https://github.com/{{ pull.user }}">@{{ pull.user }}</a></td>
  </tr>
  {% endfor %}
</table>

# Auto Merge

To attempt to automatically merge these pull requests, use the following command:

```
git auto-merge [destination_branch]{% for pull in data %} {{ pull.head }}{% endfor %}
```
